<!DOCTYPE html>
<html>
  <head>
    <title>Edit Category</title>
  </head>
  <body>
    <h1>Edit Category</h1>
    <a href="/categories">Back to Categories</a>

    <form action="/categories/<%= category.id %>?_method=PUT" method="POST">
      <div>
        <label for="name">Category Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= category.name %>"
          required
        />
      </div>
      <button type="submit">Update Category</button>
    </form>
  </body>
</html>
